# requirements file updated to version with more state data

#Python 3.11.1
# sudo apt-get install python3-dev graphviz libgraphviz-dev pkg-config

python-dotenv~=1.0.1
tavily-python==0.3.3
beautifulsoup4==4.12.3
langgraph==0.0.53
langchain_openai==0.1.7
langchain==0.2.0
aiosqlite==0.20.0
pygments==2.17.2
pygraphviz==1.13
gradio==4.31.3
langchain = 0.2.11
langchain-community>=0.2.11
langchain-core<0.4.0,>=0.3.21
langchain-text-splitters<0.4.0,>=0.3.0
google-generativeai>=0.8.2
google-ai-generativelanguage==0.6.10
openai==1.43.0
PyYAML>=5.3
aiohttp<4.0.0,>=3.8.3
tavily-python(0.5.0)
google-api-core(2.19.2)
pydantic(2.9.2)
numpy<2,>=1.22.4
langsmith<0.2.0,>=0.1.17
tiktoken>=0.5.1
requests<3,>=2
SQLAlchemy<3,>=1.4
langchain_google_genai-2.0.6
regex>=2022.1.18







